*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f3f3f3;
}

.top{
    background-color: #333333;
}

.nav{
    width: 1080px;
    margin: 0 auto;
    color: #ffffff;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    width: 50%;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-around;
}

.nav a{
    color: #ffffff;
    text-decoration: none;
}

.nav-title {
    margin-left: 20px;
}

.btn {
    height: 35px;
    width: 100px;
    background-color: #14a2b8;
    color: #ffffff;
    border: none;
    font-size: 16px;
    box-shadow: 5px 5px black;
    cursor: pointer;
}

.btn:hover{
    background-color: #3fbbcf;
}

.btn:active{
    background-color: #0d21d3;
    position: relative;
}

.container{
    width: 1080px;
    margin: 40px auto;
}

.row{
    display: flex;
}

.col{
    margin: 10px;
    padding: 10px;
    flex: 1;
}

.col-2{
    margin: 10px;
    padding: 10px;
    flex: 2;
}

.flex-container{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user-card, .card{
    width: 100%;
    background-color: white;
    border: 2px solid #999;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    overflow: hidden;
}

.card-header{
    background-color: #14a2b8;
    height: 125px;
    margin-bottom: 70px;
}

.card-body{
    padding: 20px;
}

.card-body h1, .card-body h2, .card-body h3, .card-body p{
    margin: 20px 0px;
}

.avatar-m{
    border-radius: 50%;
    background-color: #ffffff;
    height: 190px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 20px;
}

.icon-s{
    height: 20px;
}

a{
    color: #2e7deb;
}

.header{
    background-color: #333333;
    padding: 20px;
    color: #ffffff;
    font-size: 24px;
    display: flex;
    align-items: center;
}

.user-line{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.start, .end{
    display: flex;
    align-items: center;
    font-size: 24px;
    column-gap: 10px;
}

.end img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.dates{
    font-size: 20px;
    color: #777;
}

.footer{
    padding: 20px;
    border-top: 2px solid #999;
}

.connections{
    background-color: #eee;
    color: #333333;
    font-size: 20px;
    border-radius: 12px;
    height: 24px;
    padding: 0 10px;
    margin-right: 10px;
}

.avatar-s{
    background-color: #eee;
    border-radius: 64px;
}